*, *::after, *::before { box-sizing: border-box; }
p, h1, h2, h3, h4 { margin: 0; padding: 0; }

html, 
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
}

:root {
  --body-bg: #E5E7EB;
  --font-color: #000;
  --toggle-btn-radius: 0px 10px 0px 10px;
  --input-bg: #fff;
  --input-border: #D1D5DB;
  --input-color: #374151;
  --input-placeholder: #6B7280;
  --search-btn-bg: #F9FAFB;
  --search-btn-color: var(--input-color);
  --movie-title: #000;
  --movie-info: #111827;
  --movie-plot: var(--input-placeholder);
  --read-more-color: #272727;
  --error-color: #DFDDDD;
  --start-msg-color: var(--input-color);
}

.darkmode {
  --body-bg: #121212;
  --font-color: #fff;
  --toggle-btn-radius: 10px 0px 10px 0px;
  --input-bg: #2E2E2F;
  --input-border: transparent;
  --input-color: var(--font-color);
  --input-placeholder: #A5A5A5;
  --search-btn-bg: #4B4B4B;
  --search-btn-color: var(--input-color);
  --movie-title: var(--font-color);
  --movie-info: var(--font-color);
  --movie-plot: var(--input-placeholder);
  --read-more-color: var(--input-color);
  --error-color: #787878;
  --start-msg-color: var(--input-color);
}

* { transition: all 0.75s, color 0s; }

/*

Screen reader code 
Copyright (c) 2023 by Gaël Poupard 
(https://codepen.io/ffoodd/pen/gwKeyq)
(https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034)

*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/* TYPOGRAPHY */

.header {
  color: #fff;
}

h1 {
  font-weight: 800;
}

span {
  text-transform: capitalize;
}

.header__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.btn--toggle-display {
  font-weight: 700;
  color: var(--body-bg);
  text-transform: capitalize;
}

.main__input {
  color: var(--input-color);
  font-weight: 500;
}

.btn--search {
  color: var(--search-btn-color);
  font-weight: 500;
}

.movie__card {
  font-weight: 400;
  color: var(--movie-info);
  font-size: 0.75rem;
}

.movie__title {
  font-weight: 500;
  text-wrap: wrap;
  font-size: 1.125rem;
  line-height: 16px;
  color: var(--movie-title);
}

.movie__rating {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--movie-title);
}

.movie__body {
  line-height: 20px;
}

.movie__plot {
  color: var(--movie-plot);
}

.btn--add-remove {
  color: var(--font-color);
}

footer {
  color: var(--font-color);
}

.snackbar {
  color: var(--input-color);
}

.movie--loading {
  color: var(--font-color);
  font-weight: 700;
  letter-spacing: 1px;
}

.movie__msg {
  color: var(--input-color);
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

/* Buttons */

.btn--toggle-display {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: var(--toggle-btn-radius);
  padding: 0.5em 1em;
  background: var(--input-color);
  /* transition: all 0.75s; */
}

.btn--toggle-display:hover, .btn--toggle-display:focus {
  transform: scale(1.05);
}

.btn--toggle-display:active {
  transform: scale(0.95);
}

.btn--search {
  transform: translateY(-50%);
  padding: 0.5em 1em;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--input-border);
  width: 25%;
  max-width: 150px;
  background: var(--search-btn-bg);
  /* transition: all 0.75s; */
}

.btn--search:hover,
.btn--search:focus {
  background: var(--search-btn-color);
  color: var(--search-btn-bg);
  transform: translateY(-50%) scale(1.05);
}
.btn--search:active {
  transform: translateY(-50%) scale(0.95);
}

.btn--add-remove {
  background: transparent;
  border: 0;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
  /* transition: all 0.75s; */
}

.btn--add-remove:hover,
.btn--add-remove:focus {
  transform: scale(1.05);
}

.btn--add-remove:active {
  transform: scale(0.95);
}

/* GENERAL STYLING */

body {
  overflow: hidden;
}

a, 
button {
  text-decoration: none;
  cursor: pointer;
}

.header {
  background-image: url(../images/header-bg-img.png);
  height: 25vh;
  background-color: rgba(0,0,0,0.85);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  width: min-content;
  padding-bottom: 0.5em;
}

.header__link {
  padding: 2em 0 1em;
}

.header__link:hover,
.header__link:focus {
  transform: scale(1.05);
}

.main {
  height: calc(100vh - 25vh - 3rem - 3px);
  margin-bottom: 2.5em;
}

.input--container {
  display: flex;
  justify-content: center;
}

.main__input {
  padding: 0.5em 1em;
  transform: translateY(-50%);
  width: 69%;
  max-width: 600px;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
}

.movie--loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.movie__img--loading {
  max-width: 300px;
}

.movie__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  max-height: 100%;
  padding: 1em;
  height: 100%;
}

.movie__card {
  display: flex;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
  border: 1px solid transparent;
  /* transition: all 0.75s; */
}

.movie__card:hover,
.movie__card:focus {
  box-shadow: 0px 0px 15px var(--font-color), 5px 5px 15px var(--font-color);
}

.on-watchlist {
  background: #8282f6;
  --movie-title: black;
  --movie-info: black;
  --movie-plot: black;
}

.movie__poster {
  height: 150px;
  background: dodgerblue;
  aspect-ratio: 2 / 3;
}

.movie__info {
  width: 100%;
}

.movie__header {
  display: flex;
  padding: 1em 0;
}

.movie__title {
  margin-right: 0.5em;
  height: auto;
}

.movie__img--icon {
  width: 16px;
  height: 16px;
}

.movie__rating {
  padding: 0.1em 0 0 1px;
}

.movie__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 0em 1em;
}

footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  padding: 1em;
  background: var(--body-bg);
}

.snackbar {
  position: absolute;
  opacity: 0;
  bottom: 0;
  background: var(--input-bg);
  padding: 1em;
  border-radius: 10px;
  align-self: center;
}

.movie__msg {
  padding: 0.5em;
}

.flexcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex {
  display: flex;
}

/* Media Queries */

@media screen and (min-width: 430px) {
  .btn--add-remove {
    padding: 0;
  }
}

@media screen and (min-width: 530px) {
  header {
    padding: 0 2em;
  }
  h1 {
    width: initial;
  }
  .header__link {
    white-space: initial;
  }
  .movie__container {
    gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    max-width: 1300px;
    margin: 0 auto;
    padding: 1em 2em;
  }
  .movie__body {
    padding-right: 1em;
  }
}

@media screen and (min-width: 600px) {
  .header__container {
    padding: 0 1em; 
  }
  .movie__card:hover,
  .movie__card:focus {
    transform: scale(1.05);
  }
  .movie__title {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .movie__body {
    font-size: 1rem;
  }
  .movie__plot {
    font-size: 1.125rem;
  }
  .movie__runtime, 
  .btn--add-remove {
    padding-bottom: 0.5em;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 15vh;
  }
  .main {
    height: calc(100vh - 20vh - 3rem - 3px);
  }
  .header__link {
    padding: 1em 0;
  }
}